* {
  font-family: Georgia, Tahoma, sans-serif;
}

body {
  background-color: honeydew;
}

h1 {
  font-family: Verdana;
  text-size: 40px;
  text-align: center;
}

.button {
  margin: 12px;
  padding: 6px;
  color: ghostwhite;
}

