* {
  font-family: Georgia, Tahoma, sans-serif;
}

body {
  background-color: honeydew;
}

h1 {
  font-family: Verdana;
  text-size: 40px;
  text-align: center;
}

.button {
  margin: 16px;
  padding: 8px;
  color: cornflowerblue;
  display: block;
  align: center;
}

